
<mat-card>

  <!-- <h1 translate='title'></h1> -->
  <h2 translate>title</h2>

  <mat-chip-list>
    <mat-chip color="warn" selected>
      {{ 'intro' | translate: user }}
    </mat-chip>
  </mat-chip-list>

  <mat-chip-list>
    <mat-chip color="warn" selected>
      {{msg | translate}}
    </mat-chip>
  </mat-chip-list>

  <mat-chip-list>
    <mat-chip color="warn" selected>
      {{msg2 | translate}}
    </mat-chip>
  </mat-chip-list>

  <!-- From validation service -->
  <mat-chip-list>
    <mat-chip color="accent" selected>
      {{ (validationMsg$ | async) | translate }}
    </mat-chip>
  </mat-chip-list>

  <mat-divider></mat-divider>

  <div class="btns">
    <button
      (click)="switchLanguage('en')"  
      class="btn"
      mat-raised-button
      color="primary">
        en
    </button>

    <button
      (click)="switchLanguage('ua')"  
      mat-raised-button
      color="primary">
        ua
    </button>
  </div>

</mat-card>
